<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Analyst Suggesions</h4>
                        <p class="category">Here are the recommendations</p>
                    </div>
                    <div *ngIf="rowData" class="content table-responsive table-full-width" style="max-height: 500px; overflow: auto;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody style="height: 500px; overflow: auto;">
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td>{{row.action}}</td>
                                    <td>{{row.duration}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.rectime}}</td>
                                    <td>{{row.type}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Company Stock Prices</h4>
                        <p class="category">Current Round: {{currentRound}}</p>
                    </div>
                    <div *ngIf="rowData2" class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody style="height: 500px; overflow: auto;">
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td>{{row.company}}</td>
                                    <td>{{row.sector}}</td>
                                    <td>{{row.price}}</td>
                                    <td>
                                        <button (click)="buyShare(row.price)" class="btn btn-success btn-xs">Buy</button>
                                    </td>
                                    <!-- <td ><button class="btn btn-warning btn-xs">Sell</button></td> -->
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">My Stock Prices</h4>
                        <p class="category">Current Round: {{currentRound}}</p>
                    </div>
                    <div *ngIf="rowData2" class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody style="height: 500px; overflow: auto;">
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td>{{row.company}}</td>
                                    <td>{{row.sector}}</td>
                                    <td>{{row.price}}</td>
                                    
                                    <td ><button class="btn btn-warning btn-xs">Sell</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>